*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

body{
    background-color:rgb(255,247,247);
}

html{
    font-size: 16px;
}

h1{
    font-size: 3.0rem;
    color: white;
}
p{
    font-size: 1rem;
    color: white;
}