*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}
h1{
    font-size: 3.0em;
    color: white;
}
p{
    font-size: 1.2em;
    color: white;
}