#marcas{
    display: flex;
    flex-direction: column;
    .text{
        align-self: center;
        p{
            display: inline-block;
            color: $colorHover;
            margin: 0px 10px;
            margin-top: 10px;
            font-size: 1.3rem;
            text-transform: uppercase;
            position: relative;
            &:before,&:after{
                content: "";
                position: absolute;
                width: 140px;
                height: 3px;
                background-color: currentColor;
                top: 0.6em;
                @media(max-width:520px){
                    width: 0px;
                }
                @media(max-width:400px){
                    font-size: 0.8rem;
                }
            }
            &::after{
                left: -160px;
            }
            &::before{
                right: -160px;
            }
            @media(max-width:860px){
                font-size: 1rem;
            }
        }
    }
    .imgnosotros{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
        background-color: white;
        .power{
            margin-top: 20px;
        }
        img{
            width: 10em;
            object-fit: contain;
            margin: 5px;
            @media(max-width:860px){
                width: 8em;
            }
            @media(max-width:450px){
                width: 6em;
            }
        }
    }
}