.unPocomas{
    background: $colorHeaderfooter;
    background: linear-gradient(0deg, $colorHeaderfooter 0%, rgba(255,255,255,1) 100%);
    .pnosotros{
        align-self: center;
        padding: 20px;
        p{
            color: black;
            line-height: 170%;
            font-size: 1rem;
            box-shadow: 1px 5px 20px;
            padding: 10px;
            @media screen and (max-width:925px)
            {   font-size: 0.8rem;
                
                }
        }
    }
}