@import url("https://fonts.googleapis.com/css2? familia= Roboto+Condensado:peso@300 &family= Roboto+Mono & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(255, 247, 247);
}

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  color: white;
}

p {
  font-size: 1rem;
  color: white;
}

@media all and (max-width: 720px) {
  nav > ul {
    flex-direction: column;
    background-color: rgb(109, 45, 45);
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    padding: 0px 20px;
    height: 0px;
    transition: all 400ms ease;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  }
  nav > ul > li {
    width: 100%;
  }
  nav > ul > li > a {
    display: flex;
    flex-direction: column;
  }
  nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 90px;
    left: 35px;
    margin-left: 150px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 200ms ease;
  }
  nav ul li ul:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 150px;
  }
  #label__check {
    display: block;
  }
  .iconMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #check-menu:checked ~ nav > ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
  }
}
header {
  width: 100%;
}
header .parteSuperior {
  background-color: rgb(109, 45, 45);
  height: 50px;
}
header .parteSuperior .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  width: 100%;
  height: auto;
}
header .parteSuperior .logo img {
  width: 9em;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 15px;
}
header .containerMenu {
  width: 100%;
  height: 50px;
  background-color: rgb(109, 45, 45);
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .containerMenu .menu {
  max-width: 1400px;
  margin: auto;
  height: 100%;
}
header .containerMenu .menu > input {
  display: none;
}
header .containerMenu .menu > label {
  width: 20px;
  height: 100%;
  display: none;
}
header .containerMenu .menu > label .iconMenu {
  font-size: 20px;
  color: white;
  cursor: pointer;
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
header .containerMenu .menu nav {
  height: 100%;
  margin-top: 5px;
}
header .containerMenu .menu nav > ul {
  height: 100%;
  display: flex;
}
header .containerMenu .menu nav > ul > li > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 14px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}
header .containerMenu .menu nav > ul > li > a:hover {
  transform: scale(1.1);
  background: rgb(182, 73, 54);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
header .containerMenu .menu nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}
header .containerMenu .menu nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}
header .containerMenu .menu nav ul li:hover ul li a {
  text-decoration: none;
  display: block;
  color: rgb(109, 45, 45);
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}
header .containerMenu .menu nav ul li:hover ul li a:hover {
  background: rgb(182, 73, 54);
  color: white;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
header .containerMenu .menu nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}
header .containerMenu .menu nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}
@media (max-width: 364px) {
  header .containerMenu .menu nav ul li ul {
    left: -80px;
  }
}
@media (max-width: 292px) {
  header .containerMenu .menu nav ul li ul {
    left: -150px;
  }
}

#hero {
  height: 70vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondoInicio.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 460px) {
  #hero {
    height: auto;
    padding: 20px;
  }
}
#hero .hero__info {
  margin: 5px 0px;
  text-align: center;
}
@media (max-width: 860px) {
  #hero .hero__info .hero__titulo {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  #hero .hero__info .hero__titulo {
    font-size: 1.8rem;
  }
}
#hero .hero__info .hero__p {
  color: white;
}
@media (max-width: 860px) {
  #hero .hero__info .hero__p {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  #hero .hero__info .hero__p {
    font-size: 1rem;
  }
}
#hero .hero__info2 {
  border: 5px solid rgb(182, 73, 54);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
  padding: 10px;
  margin: 0px 40px;
}
@media screen and (max-width: 925px) {
  #hero .hero__info2 p {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  #hero .hero__info2 p {
    font-size: 0.8rem;
  }
}

#marcas {
  display: flex;
  flex-direction: column;
}
#marcas .text {
  align-self: center;
}
#marcas .text p {
  display: inline-block;
  color: rgb(182, 73, 54);
  margin: 0px 10px;
  margin-top: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
}
#marcas .text p:before, #marcas .text p:after {
  content: "";
  position: absolute;
  width: 140px;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
}
@media (max-width: 520px) {
  #marcas .text p:before, #marcas .text p:after {
    width: 0px;
  }
}
@media (max-width: 400px) {
  #marcas .text p:before, #marcas .text p:after {
    font-size: 0.8rem;
  }
}
#marcas .text p::after {
  left: -160px;
}
#marcas .text p::before {
  right: -160px;
}
@media (max-width: 860px) {
  #marcas .text p {
    font-size: 1rem;
  }
}
#marcas .imgnosotros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}
#marcas .imgnosotros .power {
  margin-top: 20px;
}
#marcas .imgnosotros img {
  width: 10em;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px;
}
@media (max-width: 860px) {
  #marcas .imgnosotros img {
    width: 8em;
  }
}
@media (max-width: 450px) {
  #marcas .imgnosotros img {
    width: 6em;
  }
}

.unPocomas {
  background: rgb(109, 45, 45);
  background: linear-gradient(0deg, rgb(109, 45, 45) 0%, rgb(255, 255, 255) 100%);
}
.unPocomas .pnosotros {
  align-self: center;
  padding: 20px;
}
.unPocomas .pnosotros p {
  color: black;
  line-height: 170%;
  font-size: 1rem;
  box-shadow: 1px 5px 20px;
  padding: 10px;
}
@media screen and (max-width: 925px) {
  .unPocomas .pnosotros p {
    font-size: 0.8rem;
  }
}

#hero__servicios {
  width: 100%;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/b1\ \(3\).webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
@media (max-width: 860px) {
  #hero__servicios .hero__titulo-servicios .titulo-servicios {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  #hero__servicios .hero__titulo-servicios .titulo-servicios {
    font-size: 1.8rem;
  }
}
#hero__servicios .hero__titulo-servicios .servicios-p {
  color: rgb(182, 73, 54);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
@media (max-width: 860px) {
  #hero__servicios .hero__titulo-servicios .servicios-p {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  #hero__servicios .hero__titulo-servicios .servicios-p {
    font-size: 1rem;
  }
}

.card-group {
  padding: 20px;
}
.card-group .card {
  margin: 10px 10px;
  transition: all 300ms ease;
}
@media (max-width: 1010px) {
  .card-group .card {
    min-width: 300px;
  }
}
@media (max-width: 360px) {
  .card-group .card {
    min-width: 200px;
  }
}
.card-group .card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 5px 20px;
}
.card-group .card .card-img-top {
  width: 100%;
  height: 170px;
}
.card-group .card .card-body {
  background: rgb(109, 45, 45);
  background: linear-gradient(0deg, rgb(109, 45, 45) 0%, rgb(255, 255, 255) 100%);
}
.card-group .card .card-body .card-text {
  color: black;
}
.card-group .card .card-body .btn {
  background-color: white;
  transition: all 300ms ease;
}
.card-group .card .card-body .btn:hover {
  transform: scale(1.1);
}

#carteles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
#carteles .img-lona1 {
  width: 50%;
  height: 500px;
  margin: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 720px) {
  #carteles .img-lona1 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 10px;
  }
}
#carteles .img-lona1 img {
  width: 80%;
  height: 80%;
}
@media (max-width: 720px) {
  #carteles .img-lona1 img {
    width: 100%;
    height: 100%;
  }
}
#carteles .info-lona {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
#carteles .info-lona .contenedorh2 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#carteles .info-lona .contenedorh2 .lonah2 {
  font-size: 2em;
  color: rgb(182, 73, 54);
}
@media (max-width: 720px) {
  #carteles .info-lona .contenedorh2 {
    margin-top: 10px;
  }
}
#carteles .info-lona p {
  text-align: justify;
  color: black;
  padding: 20px;
  margin-right: 30px;
  line-height: 28px;
}
@media (max-width: 950px) {
  #carteles .info-lona p {
    font-size: 1em;
  }
}
@media (max-width: 720px) {
  #carteles .info-lona p {
    font-size: 1em;
    color: black;
    margin: 10px 30px;
    padding: 0px;
  }
}
@media (max-width: 720px) {
  #carteles .info-lona {
    width: 100%;
    height: auto;
    text-align: justify;
    align-items: center;
  }
}
@media (max-width: 720px) {
  #carteles {
    margin-top: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.masinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.masinfo .info-marquesina {
  margin-bottom: 100px;
}
@media (max-width: 720px) {
  .masinfo .info-marquesina {
    margin-bottom: 0px;
  }
}
.masinfo .info1 {
  margin: 20px 30px;
  text-align: justify;
}
.masinfo .info1 p {
  color: black;
  margin-bottom: 10px;
}
@media (max-width: 720px) {
  .masinfo .info1 p {
    text-align: justify;
    font-size: 1em;
  }
}
@media (max-width: 720px) {
  .masinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

#hero__galeria {
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/b1\ \(1\).webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
@media (max-width: 860px) {
  #hero__galeria .titulo-galeria {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  #hero__galeria .titulo-galeria {
    font-size: 1.8rem;
  }
}
#hero__galeria .galeria-p {
  color: rgb(182, 73, 54);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
@media (max-width: 860px) {
  #hero__galeria .galeria-p {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  #hero__galeria .galeria-p {
    font-size: 1rem;
  }
}

#galeria .row .col-lg-4 {
  padding: 25px;
  margin: 0px;
}
#galeria .row .col-lg-4 img {
  width: 100%;
  height: 320px;
}
#galeria .row .col-lg-4 img:hover {
  border: 5px solid rgb(182, 73, 54);
  transform: scale(1.1);
  transition: all 300ms ease;
}
@media (max-width: 720px) {
  #galeria .row .col-lg-4 img:hover {
    border: 5px solid rgb(182, 73, 54);
    transform: scale(0.9);
    transition: all 300ms ease;
  }
}

#contacto {
  background-image: url(../img/b1\ \(4\).webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#contacto .container__contacto {
  display: flex;
  padding: 20px;
}
@media (max-width: 820px) {
  #contacto .container__contacto {
    flex-direction: column;
  }
}
#contacto .container__contacto form {
  width: auto;
  margin: auto;
  padding: 20px 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
#contacto .container__contacto form h1 {
  text-align: center;
  padding: 20px 0px;
  color: rgb(182, 73, 54);
  margin-top: 10px;
  margin-bottom: 10px;
}
#contacto .container__contacto form input, #contacto .container__contacto form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
}
#contacto .container__contacto form textarea {
  min-height: 100px;
  max-height: 150px;
  max-width: 100%;
}
#contacto .container__contacto .maps {
  padding: 10px;
  align-self: center;
}
#contacto .container__contacto .maps iframe {
  width: 400px;
  height: 400px;
}
@media (max-width: 470px) {
  #contacto .container__contacto .maps iframe {
    width: auto;
    height: auto;
  }
}

#boton {
  background-color: rgb(121, 122, 122);
  color: white;
  padding: 20px;
}
#boton:hover {
  cursor: pointer;
}

.footer {
  background-color: rgb(109, 45, 45);
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
@media all and (max-width: 1060px) {
  .footer {
    flex-direction: column;
    height: auto;
  }
}
.footer .info-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}
@media all and (max-width: 1155px) {
  .footer .info-message {
    font-size: 0.8em;
  }
}
@media all and (max-width: 1060px) {
  .footer .info-message {
    margin: 10px 0px;
  }
}
@media all and (max-width: 540px) {
  .footer .info-message {
    flex-direction: column;
  }
}
.footer .info-message .message {
  margin: 0px 20px;
}
@media all and (max-width: 540px) {
  .footer .info-message .message {
    margin: 5px 0px;
  }
}
.footer .info-message .message span {
  color: white;
  font-size: 1.3em;
  margin: 0px 10px;
}
@media all and (max-width: 636px) {
  .footer .info-message .message span {
    font-size: 1em;
  }
}
.footer .info-message .message span i {
  margin: 0px 5px;
}
.footer .conteiner__footer {
  text-align: center;
  margin: 0px 20px;
}
.footer .conteiner__footer .conteiner__footer--p {
  color: white;
  font-size: 1.3em;
}
@media all and (max-width: 1060px) {
  .footer .conteiner__footer .conteiner__footer--p {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=estilo.css.map */