@import url('https://fonts.googleapis.com/css2? familia= Roboto+Condensado:peso@300 &family= Roboto+Mono & display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}
h1{
    font-size: 3.0em;
    color: white;
}
p{
    font-size: 1.2em;
    color: white;
}


header{
    width: 100%;
    top: 0;
    left: 0;
}

/* HEADER SUPERIOR */

.parteSuperior{
    background-color: rgb(109, 45, 45);
    height: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 0px;
    width: 100%;
    height: auto;
}

.logo img{
    width: 150;
    height: 35px;
    margin-top: 15px;
}



/* BARRA DE NAVEGACION*/

.containerMenu{
    width: 100%;
    height: 50px;
    background-color: rgb(109, 45, 45);
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
menu{
    max-width: 1400px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
    margin-top: 5px;
}

nav > ul{
    height: 100%;
    display: flex;
}
nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: rgb(182, 73, 54);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SUBMENU */

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;

}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: rgb(109, 45, 45);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: rgb(182, 73, 54);
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.iconMenu{
    font-size: 20px;
    color: white;
    cursor: pointer;
    width: 20px;
    height: 100%;
    display: none;
    align-items: center;
    margin-top: 5px;
}

#label__check{
    width: 20px;
    height: 100%;
    display: none;
}

#check-menu{
    display: none;
}

/* MENU RESPONSIVE */



@media all and (max-width: 720px){
    nav > ul{
        flex-direction: column;
        background-color: rgb(179, 41, 41);
        position: fixed;
        left: 0;
        top: 100px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li ul{
        width: 200px;
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 90px;
        left: 35px;
        padding: 14px 0px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 10;
        transition: all 300ms ease;
    }
    nav ul li ul:before{
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
        position: absolute;
        top: -12px;
        left: 150px;
        
    }

    #label__check{
        display: block;
    }

    .iconMenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #check-menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    } 
}

/* -------------------HERO----------------------------- */

#hero{
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/fondo-banner-trazo-pincel-rojo-negro-perfecto-canva_1361-3597.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}


.hero__info{
    text-align: center;
    width: 80%;
    height: auto;
}

.hero__info2{
    margin-top: 40px;
    width: 70%;
    text-align: center;
    text-align: center;
    padding: 10px;
    border: 5px solid rgb(182, 73, 54);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
}

.hero__titulo{
    margin-bottom: 10px; 
}

.hero__p{
    padding: 10px;
}

/* ------------------HERO RESPONSIVE------------ */

@media all and (max-width: 647px){
    .hero__info2{
        width: 90%;
    }
}
@media all and (max-width: 540px){
    .hero__info2{
        width: 90%;
    }
    .hero__info2 p{
        font-size: 0.8em;
    }
    .text p{
        font-size: 0.2em;
    }
}

/* -----------------MARCAS---------------------- */
#marcas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.imgnosotros{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    flex-wrap: wrap;
}

.imgnosotros img{
    width: 140px;
    height: auto;
    margin: 0px 20px;
}




.text p{
    margin: 0px 10px;
    font-size: 1.5em;
    text-transform: uppercase;
        color: brown;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.05),
            rgba(0,0,0,0.05)
        )
}


/* ---------------MARCAS RESPONSIVE--------------- */

@media all and (max-width: 1180px){

    .imgnosotros img{
        width: 80px;
        height: auto;
        margin: 0px 20px;
}
}

@media all and (max-width: 925px){

    #marcas{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .imgnosotros{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    
    .imgnosotros img{
        width: 100px;
        height: auto;
        margin: 0px 20px;
    }
    .hero__info{
        margin-top: 5px;
    }
}

@media all and (max-width: 840px){
    .imgnosotros img{
        width: 80px;
        height: auto;
        margin: 0px 20px;
    }
}

@media all and (max-width: 720px){
    .imgnosotros img{
        width: 60px;
    }
    .hero__titulo{
        font-size: 2.0em;
    }
    .hero__p{
        font-size: 1.0em;
    }
    .hero__info2{
        font-size: 0.8em;
    }
}

@media all and (max-width: 600px){

    #hero{
        height: 60vh;
    }
    .hero__titulo h1{
        font-size: 0.8em;
    }

    .hero__info2{
        width: 100%;
    }
    
    .imgnosotros{
        width: 100%;
    }
    .imgnosotros img{
        width: 40px;
    }

    .text p{
        font-size: 0.8em;
    }
}

@media all and (max-width: 480px){

        .imgnosotros{
            width: 100%;
            margin:0px 10px;
        }
        .imgnosotros img{
            width: 100px;
        }
}

@media all and (max-width: 420px){
    .imgnosotros{
        margin: 10px 0px;
    }
    .imgnosotros img{
        margin: 10px;
    }
}





/* ----------------------------------------NOSOTROS------------------------------------- */

#hero__nosotros{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/backnosotros.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    display: flex;
    justify-content: center;
}

.hero__nosotros-info{
    margin: 10px;
    text-align: center;
    width: 100%;
    height: auto;
}

.hero__nosotros-info p{
    margin:10px;
}

.nosotros_img{
    width: 100%;
    height: 500px;
    margin: 10px;
}

.nosotros_img img{
    width: 100%;
    height: 100%;
}


/* --------------------responsive nosotros---------------- */


@media screen and (max-width:768px){
    #hero__nosotros{
        flex-direction: column;
        align-items: center;
    }

    .nosotros_img{
        width: auto;
    }
}

/* -----------------------------SERVICIOS-------------------- */

#hero__servicios{
    width: 100%;
    height: auto;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/backservicios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.cards1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 300ms ease;
}

.cards1:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.imgcard{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.imgcard img{
    width: 100%;
    height: 100%;
}



.infocards{
    background-color: rgb(182, 73, 54);
    margin-top: 5px;
    margin-bottom: 5px;
    border:3px solid rgb(109, 45, 45);
    height: 100%;
    width: 100%;
}

.infocards h2{
    margin-bottom: 5px;
}

.infocards p{
    text-align: justify;
    padding: 5px;
    font-size: 1em;
}

.cards1 a{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    border: 2px solid rgb(109, 45, 45);
    border-radius: 2px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    );
}

.cards1 a:hover{
    transform: scale(1.3);
    transition: all 400ms ease;
}


.container__servicios h3{
    margin-top: 10px;
}

.titulo-servicios{
        margin-top: 50px;
    }
    
.servicios-p{
        color: brown;
        margin: 30px;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
    }

/* --------------- responsive servicios----------- */

@media all and (max-width:1024px){
    #cards{
        flex-direction: column;
    }
    .cards1{
        width: 70%;
    }
}


    /* ------------------------- CARTELES---------------------- */

    #carteles{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .img-lona1{
        width: 50%;
        height: 100%;
        margin: 5px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-lona1 img{
        width: 80%;
        height: 80%;
    }

    .info-lona{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    }

    .contenedorh2{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .lonah2{
        font-size: 2em;
        color: brown;
    }

    .info-lona p{
        text-align: justify;
        color: black;
        padding: 20px;
        margin-right: 30px;
        line-height: 28px;
    }

    .masinfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info1{
        margin: 20px 30px;
        text-align: justify;
        
    }


    .info1 p{
        color: black;
        margin-bottom: 10px;
    }

    .info-marquesina{
        margin-bottom: 100px;
    }


    .galeria-lona {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 10px 10px;
        margin: 20px;
        justify-items: center;
        grid-template-areas:
          "img1 img2 img3 img4"
          "img5 img6 img7 img8"
          "img9 img10 img11 img12"
          "img13 img14 img15 img16"
          "img17 img18 img19 img20";
      }
      
      .img1 { grid-area: img1;}
      
      .img2 { grid-area: img2; }
      
      .img3 { grid-area: img3; }
      
      .img4 { grid-area: img4; }
      
      .img5 { grid-area: img5; }
      
      .img6 { grid-area: img6; }
      
      .img7 { grid-area: img7; }
      
      .img8 { grid-area: img8; }
      
      .img9 { grid-area: img9; }
      
      .img10 { grid-area: img10; }
      
      .img11 { grid-area: img11; }
      
      .img12 { grid-area: img12; }
      
      .img13 { grid-area: img13; }
      
      .img14 { grid-area: img14; }
      
      .img15 { grid-area: img15; }
      
      .img16 { grid-area: img16; }
      
      .img17 { grid-area: img17; }
      
      .img18 { grid-area: img18; }
      
      .img19 { grid-area: img19; }
      
      .img20 { grid-area: img20; }
      

      .img-lona{
        height: 300px;
        width: 300px;
      }

      .cont-img{
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        height: 300px;
        transition: all 300ms ease;
      }

    .cont-img:hover{
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }

/* ------------RESPONSIVE CARTELES------------- */

@media all and (max-width: 720px){

#carteles{
    margin-top: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between ;
}
.img-lona1{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 10px;
}
.contenedorh2{
    margin-top: 10px;
}
.img-lona1 img{
    width: 100%;
    height: 100%;
}

.info-lona{
    width: 100%;
    height: auto;
    text-align: justify;
    align-items: center;
}

.info-lona p{
    font-size: 0.8em;
    color: black;
    margin: 10px 30px;
    padding: 0px;
}

#servicios-galeria{
    margin-top: 0px;
    width: auto;
}


.galeria-lona {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    margin: 0px 0px;
    justify-items: center;
    grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9"
    "img10"
    "img11"
    "img12"
    "img13"
    "img14"
    "img15"
    "img16"
    "img17"
    "img18"
    "img19"
    "img20";
  }
  
  .img1 { grid-area: img1;}
  
  .img2 { grid-area: img2; }
  
  .img3 { grid-area: img3; }
  
  .img4 { grid-area: img4; }
  
  .img5 { grid-area: img5; }
  
  .img6 { grid-area: img6; }
  
  .img7 { grid-area: img7; }
  
  .img8 { grid-area: img8; }
  
  .img9 { grid-area: img9; }
  
  .img10 { grid-area: img10; }
  
  .img11 { grid-area: img11; }
  
  .img12 { grid-area: img12; }
  
  .img13 { grid-area: img13; }
  
  .img14 { grid-area: img14; }
  
  .img15 { grid-area: img15; }
  
  .img16 { grid-area: img16; }
  
  .img17 { grid-area: img17; }
  
  .img18 { grid-area: img18; }
  
  .img19 { grid-area: img19; }
  
  .img20 { grid-area: img20; }

  .masinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.info1{
    text-align: justify;
    font-size: 0.8em;
}
.info-marquesina{
    margin-bottom: 0px;
}

}







/* -----------------------------------GALERIA CON BOST------------------------------------- */

#hero__galeria{
    height: 70vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/backgaleria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.titulo-galeria{
    margin-top: 50px;
    text-decoration: underline;
}

.galeria-p{
    color: brown;
    margin: 30px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
}

#galeria img{
    width: 100%;
    height: 320px;
}

#galeria .col-lg-4{
    padding: 25px;
    margin: 0px;
}

#galeria img:hover{
    border: 5px solid rgb(182, 73, 54);
    transform: scale(1.3);
    transition: all 300ms ease;
}

@media all and (max-width: 720px) {
    #galeria img:hover{
        border: 5px solid rgb(182, 73, 54);
        transform: scale(1.1);
        transition: all 300ms ease;
    }
    
}

/* ----------------------CONTACTO------------------------------- */

#contacto{
    background-image: url(../img/backcontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    display: flex;
    width: 100%;
}
#contacto h2{
    text-align: center;
    padding: 20px 0px;
    color:  rgb(233, 95, 95);
    margin-top: 10px;
    margin-bottom: 10px;
}
form{
    width: 90%;
    margin: auto;
    padding: 20px 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.04);
    border-radius: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;

}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 150px;
    max-width: 100%; 
}
#boton{
    background-color: rgb(121, 122, 122);
    color: white;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
.maps{
justify-content: center;
display: flex;
margin-bottom: 10px;
align-items: center;
}
.container__contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

/* -------------------FOOTER---------------*/

.footer{
    background-color: rgb(109, 45, 45);
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info-message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.message{
    margin: 0px 20px;
}
.message span{
    color: white;
    font-size: 1.3em;
    margin: 0px 10px;
}

.message span i{
    margin: 0px 5px;
}

.conteiner__footer{
    text-align: center;
    margin: 0px 20px;
}

.conteiner__footer--p{
    color: white;
    font-size: 1.3em;
}




/* ------------------------------FOOTER RESPONSIVE------------------------ */

@media all and (max-width: 1155px){
    .info-message{
        font-size: 0.8em;
    }
}

@media all and (max-width: 1060px){
    .footer{
        flex-direction: column;
        height: auto;
    }
    .info-message{
        margin: 10px 0px;
    }
    .conteiner__footer--p{
        font-size: 0.8em;
    }
}

@media all and (max-width: 636px){
    .message span{
        font-size: 1em;
    }
}
@media all and (max-width: 540px){
    .info-message{
        flex-direction: column;
    }
    .message{
        margin: 5px 0px;
    }
}

@media all and (max-height: 450px){

    .hero__info{
        height: 40px;
    }
    .hero__titulo{
        font-size: 2.0em;
    }
    .hero__info2{
        width: 90%;
    }
}
@media all and (max-height: 320px){
    #hero{
        justify-content: space-between;
    }
    .hero__info2{
        width: 98%;
        font-size: 0.5em;
        margin-bottom: 50px;
    }
}









































